.aboutPageContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.headerContainer {
    padding: 30px 0;
    height: 30%;
    background-image: url("https://cdn.fstoppers.com/styles/large-16-9/s3/lead/2018/04/2018-pulitzer-prize-photography-winners-announced.jpg");
    background-size: contain;
}
.headerContainer h1{
    color: white;
}

.contentContainer {
    padding: 40px 100px;
    align-items: center;
    /*text-align: justify;*/
    /*background-color: orange;*/
    display: flex;
    flex: 1;
    flex-direction: column;
    /*background-color: red;*/
}

.footerContainer {
    /*background-color: green;*/
    padding-bottom: 20px;
    width: 100%;
}

.iconContainer {
    padding: 20px;
    margin: 5px;
    /*background-color: red;*/
}
